<% book.book_comments.each do |book_comment| %>
  <% book_comment_user = book_comment.user %>
  <%= link_to user_path(book_comment_user), class:"user_#{book_comment_user.id}" do %>
    <p><%= attachment_image_tag book_comment_user, :profile_image, :fill, 60, 60, fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6" %></p>
    <p><%= book_comment_user.name %></p>
  <% end %>
  <p><%= book_comment.comment %></p>
  <p>
  <% if book_comment_user == current_user %>
      <%= link_to "Delete", book_book_comments_path(book_comment.book_id, book_comment.id), class:"btn btn-sm btn-danger", method: :delete, remote: true %>
  <% end %>
</p>
<% end %>